<div class="container">
  <h1>Crear articulo</h1>
  <%= form_for @articles do |f| %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Titulo", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_area :body, placeholder: "Escribe aqui el articulo", class: "form-control", style: "height: 250px" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.submit "Guardar", disable_with: 'Guardando...', class: "btn btn-sm btn-primary col-md-12" %>
        </div>
      </div>
    </div>
  <%end%>
</div>